@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Dancing+Script:wght@400;500&family=Inter:wght@100;200;300;400&family=Oxygen:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==============================NAVBAR START============================= */

header #navbar {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0px 100px;
  z-index: 100;
}
#toggle {
  display: none;
}
.menu {
  margin: 0 30px 0 0;
}
label {
  font-size: 26px;
  line-height: 70px;
  margin: 0 40px 0 0;
  display: none;
  width: 26px;
  float: right;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu ul li {
  display: flex;
  align-items: center;
  color: #181818;
  font-family: "Inter";
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
}
.menu ul img {
  width: 1px;
  height: 20px;
}
.menu ul li img {
  width: 12px;
  height: 12px;
}

.sticky {
  border-bottom: 1px solid #1d1d1d66;
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.navbar__logo img {
  width: 70px;
  height: 36px;
  cursor: pointer;
}

#navbar .navbar_lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#navbar .navbar_lang p {
  color: #181818;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}
#navbar .navbar_lang img {
  width: 30px;
  height: 24px;
  cursor: pointer;
  margin-left: 2%;
}
/* ####RESPONSIVE### */
@media screen and (max-width: 820px) {
  header #navbar {
    padding: 0 40px;
  }
  label {
    width: 4px;
    display: block;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }
  #navbar .navbar_lang {
    display: none;
  }
}
@media screen and (max-width: 470px) {
  header #navbar {
    padding: 0 20px;
  }
  label {
    width: 2px;
  }
}
/* ####RESPONSIVE### */

/* ==============================NAVBAR END============================= */

/* ==============================SECTION1 START============================= */

#section1 .section1_mainPic {
  width: 100%;
  height: 568px;
  background-image: url("./assets/images/Rectangle\ 138.svg");
  object-fit: fill;
  position: relative;
}
#section1 .section1__leftArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 274px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
#section1 .section1__leftArrow:hover {
  background-color: #ffffff;
  color: #181818;
  transition: 0.3s;
}
#section1 .section1__rightArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 274px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

#section1 .section1__rightArrow:hover {
  background-color: #ffffff;
  color: #181818;
  transition: 0.3s;
}
#section1 .section1_mainPic_left {
  font-family: "Inter";
  position: absolute;
  left: 167px;
  top: 227px;
}
#section1 .section1_mainPic_left h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
}
#section1 .section1_mainPic_left p {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 400;
}
.btnAboutUs {
  padding: 9px 40px 10px;
  margin-top: 53px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.btnAboutUs:hover {
  background-color: #ffffff;
  color: #181818;
  transition: 0.3s;
}
#section1 .section1_mainPic__pic {
  width: 734px;
  height: 445px;
  position: absolute;
  right: 100.55px;
  top: 122px;
}
#section1 .section1_mainPic_eclipse {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 531px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section1 .section1_mainPic_eclipse img {
  width: 10px;
  height: 10px;
  margin-left: 24px;
  cursor: pointer;
}

.section1_threeCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter";
  padding: 33px 60px;
  flex-wrap: wrap;
  color: rgba(24, 24, 24, 1);
}
.section1_threeCards__card {
  position: relative;
  background-color: #f8f8f8;
  width: 368px;
  height: 130px;
  border-left: 5px solid #0f2a59;
}
.section1_threeCards__card:first-child {
  border: none;
}
.section1_threeCards__card h2 {
  font-size: 16px;
  padding-left: 21px;
  padding-top: 16px;
}
.section1_threeCards__card p {
  position: absolute;
  font-size: 14px;
  padding-left: 21px;
  padding-top: 4px;
  z-index: 2;
}
.section1_threeCards__card img {
  width: 106px;
  height: 106px;
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 0;
}
@media screen and (max-width: 1160px) {
  #section1 .section1_mainPic__pic {
    width: 557px;
    height: 357px;
    position: absolute;
    right: 66.55px;
    top: 221px;
  }
  #section1 .section1_mainPic_left {
    top: 310px;
  }
  .section1_threeCards {
    justify-content: flex-start;
  }
  .section1_threeCards__card {
    width: 426px;
    height: 125px;
    margin-left: 3%;
  }
  .section1_threeCards__card:last-child {
    margin-top: 3%;
  }
}
@media screen and (max-width: 1050px) {
  .section1_threeCards {
    flex-direction: column;
  }
  .section1_threeCards__card {
    width: 486px;
    height: 133px;
    margin-top: 5%;
  }
}
@media screen and (max-width: 990px) {
  #section1 .section1_mainPic__pic {
    width: 492px;
    height: 282px;
    position: absolute;
    right: 5px;
    top: 286px;
  }
  #section1 .section1_mainPic_left {
    top: 351px;
  }
  .section1_threeCards {
    flex-direction: column;
  }
  .section1_threeCards__card {
    width: 486px;
    height: 133px;
    margin-top: 5%;
  }
}
@media screen and (max-width: 870px) {
  #section1 .section1_mainPic__pic {
    width: 536px;
    height: 344px;
    position: absolute;
    top: 404px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #section1 .section1_mainPic_left {
    top: 185px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #section1 .section1__leftArrow {
    display: none;
  }
  #section1 .section1__rightArrow {
    display: none;
  }
  .section1_threeCards {
    flex-direction: column;
  }
  .section1_threeCards__card {
    width: 486px;
    height: 133px;
    margin-top: 5%;
  }
}
@media screen and (max-width: 650px) {
  .section1_threeCards__card {
    width: 343px;
    height: 111px;
  }
}
@media screen and (max-width: 580px) {
  #section1 .section1_mainPic__pic {
    width: 445px;
    height: 248px;
    position: absolute;
    top: 444px;
  }
  #section1 .section1_mainPic_left {
    top: 237px;
  }
}
@media screen and (max-width: 450px) {
  .section1_threeCards {
    padding: 30px 1px;
  }
  .section1_threeCards__card {
    width: 282px;
    height: 106px;
  }
  .section1_threeCards__card img {
    width: 80px;
    height: 90px;
  }
  .section1_threeCards__card h2 {
    font-size: 14px;
  }
  .section1_threeCards__card p {
    font-size: 11px;
  }
  #section1 .section1_mainPic__pic {
    width: 269px;
    height: 158px;
    top: 399px;
  }
}
/* ==============================SECTION1 END============================= */

/* ==============================SECTION2 START============================= */
#section2 {
  width: 100%;
  padding: 10px 99px;
}
#section2 .section2_news {
  display: flex;
  flex-direction: row;
}
#section2 h2 {
  width: 570px;
  font-size: 28px;
  font-family: "Inter";
  font-style: normal;
  line-height: 125%;
  font-weight: 700;
  margin: 4% 0 2% 0;
  color: #200e32;
}
#section2 .section2_news_left {
  padding: 0px 70px 0px 0px;
}
#section2 .section2_news_left_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 568px;
  height: 383px;
  background-size: cover;
  background-image: url("./assets/images/Rectangle\ 184.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  color: #ffffff;
  font-family: "Inter";
  padding: 0 83px 24px 24px;
  cursor: pointer;
  transition: 0.3s;
}
#section2 .section2_news_left_box:hover {
  transform: scale(0.95);
  background-image: linear-gradient(45deg, transparent, #afafb239, #83809c3f),
    url("./assets/images/Rectangle\ 184.svg");
}
#section2 .section2_news_left_box p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Inter";
}
#section2 .section2_news_left_box h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  margin-top: 2%;
}
#section2 .section2_news_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#section2 .section2_news_right_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 268px;
  height: 181px;
  object-fit: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Inter";
  padding: 0 10px 10px 10px;
  cursor: pointer;
  transition: 0.3s;
}
#section2 .box1:hover {
  transform: scale(0.95);
  background: linear-gradient(45deg, #afafb239, #83809c3f),
    url("./assets/images/Rectangle\ 185.svg");
}
#section2 .box2:hover {
  transform: scale(0.95);
  background: linear-gradient(45deg, #afafb239, #83809c3f),
    url("./assets/images/Rectangle\ 187.svg");
}
#section2 .box3:hover {
  transform: scale(0.95);
  background: linear-gradient(45deg, #afafb239, #83809c3f),
    url("./assets/images/Rectangle\ 186.svg");
}
#section2 .box4:hover {
  transform: scale(0.95);
  background: linear-gradient(45deg, #afafb239, #83809c3f),
    url("./assets/images/Rectangle\ 188.svg");
}
#section2 .section2_news_right_box p {
  font-size: 11px;
  font-weight: 400;
}
#section2 .section2_news_right_box h3 {
  margin-top: 1%;
  font-size: 13px;
  font-weight: 700;
}
#section2 .box1 {
  background-image: url("./assets/images/Rectangle\ 185.svg");
  object-fit: cover;
}
#section2 .box2 {
  background-image: url("./assets/images/Rectangle\ 187.svg");
  object-fit: cover;
}
#section2 .box3 {
  background-image: url("./assets/images/Rectangle\ 186.svg");
  object-fit: cover;
  margin-top: 20px;
}
#section2 .box4 {
  background-image: url("./assets/images/Rectangle\ 188.svg");
  object-fit: cover;
  margin-top: 20px;
}
@media screen and (max-width: 1380px) {
  #section2 .section2_news_left_box {
    width: 472px;
  }
}
@media screen and (max-width: 1300px) {
  #section2 .section2_news_left_box {
    width: 400px;
  }
}
@media screen and (max-width: 1220px) {
  #section2 {
    width: 100%;
  }
  #section2 .section2_news_left {
    padding: 0;
  }
  #section2 .section2_news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #section2 .section2_news_left_box {
    width: 780px;
  }
  #section2 .section2_news_right_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 33.33%;
    height: 181px;
    padding: 0 10px 10px 10px;
  }
  #section2 .section2_news_right_box p {
    font-size: 9px;
  }
  #section2 .section2_news_right_box h3 {
    font-size: 11px;
  }
  #section2 .section2_news_right {
    margin-top: 3%;
  }

  #section2 .box3 {
    margin-top: 0;
  }
  #section2 h2 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  #section2 .section2_news_left_box {
    width: 566px;
    height: 256px;
  }
  #section2 .section2_news_right_box {
    width: 300px;
  }
  .box3 {
    margin-top: 20px !important;
  }
  .box4 {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 810px) {
  #section2 .section2_news_right_box {
    width: 222px;
    height: 120px;
  }
}
@media screen and (max-width: 650px) {
  #section2 .section2_news_left_box {
    width: 392px;
    height: 203px;
  }
  #section2 .section2_news_left_box p {
    font-size: 11px;
  }
  #section2 .section2_news_left_box h3 {
    font-size: 17px;
  }
  #section2 h2 {
    font-size: 20px;
  }
  .box1 {
    margin-top: 20px !important;
  }
  .box2 {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 460px) {
  #section2 .section2_news_left_box {
    width: 280px;
    height: 173px;
  }
  #section2 .section2_news_left_box p {
    font-size: 9px;
  }
  #section2 .section2_news_left_box h3 {
    font-size: 13px;
  }
  #section2 h2 {
    font-size: 16px;
    text-align: start;
  }
}
@media screen and (max-width: 300px) {
  #section2 {
    padding: 10px 11px;
  }
}
/* ==============================SECTION2 END============================= */

/* ==============================SECTION3 START============================= */
#section3 {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 5%;
}
#section3 .section3_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3__aboutUs {
  position: relative;
  width: 1200px;
  height: 480px;
  margin-top: 5%;
  background-color: #fafafa;
}
.section3__aboutUs img {
  position: absolute;
  width: 900px;
  height: 480px;
  z-index: 1;
}
.aboutUs_2ndImg {
  position: absolute;
  top: 0;
  right: 0;
}
.section3__aboutUs_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  position: absolute;
  width: 540px;
  height: 365px;
  padding: 48px 48px 73px 48px;
  z-index: 3;
}
.info1-3 {
  top: 57px;
  right: 64px;
}
.info2 {
  top: 48px;
  left: 64px;
}
.section3__aboutUs_info h3 {
  font-size: 28px;
  font-weight: 700;
  color: #181818;
  font-family: "Inter";
}
.section3__aboutUs_info p {
  color: rgba(182, 182, 182, 1);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  font-family: "Inter";
}
.section3__aboutUs_info button {
  border: 1px solid rgba(15, 42, 89, 1);
  color: rgba(15, 42, 89, 1);
  margin-top: 20px;
}
.section3__aboutUs_info button:hover {
  background-color: rgba(15, 42, 89, 1);
  color: #ffffff;
}
@media screen and (max-width: 1300px) {
  .section3__aboutUs {
    width: 1080px;
  }
  .section3__aboutUs_info {
    width: 500px;
    height: 330px;
  }
  .info1-3 {
    top: 75px;
  }
  .info2 {
    top: 75px;
  }
}
@media screen and (max-width: 1250px) {
  .section3__aboutUs {
    width: 900px;
  }
  .section3__aboutUs_info {
    width: 500px;
    height: 330px;
  }
  .section3__aboutUs_info h3 {
    font-size: 24px;
  }
  .section3__aboutUs_info p {
    font-size: 11px;
  }
  .section3__aboutUs_info button {
    padding: 7px 18px 10px;
  }
  .info1-3 {
    top: 75px;
  }
}
@media screen and (max-width: 1100px) {
  .section3__aboutUs {
    width: 844px;
    height: 400px;
  }
  .section3__aboutUs img {
    width: 702px;
    height: 400px;
  }
}
@media screen and (max-width: 920px) {
  .section3__aboutUs {
    width: 707px;
  }

  .section3__aboutUs_info {
    width: 462px;
    height: 261px;
  }
  .section3__aboutUs_info h3 {
    font-size: 20px;
  }
  .section3__aboutUs_info p {
    font-size: 9px;
  }
  .section3__aboutUs_info button {
    padding: 7px 18px 10px;
  }
  .info1-3 {
    top: 75px;
  }
}
@media screen and (max-width: 768px) {
  .section3__aboutUs {
    position: static;
    width: 459px;
    height: 458px;
    margin-top: 5%;
    background-color: #fafafa;
    z-index: 0;
  }
  .section3__aboutUs img {
    position: static;
    width: 458px;
    height: 277px;
    object-fit: cover;
    z-index: 0;
  }
  .section3__aboutUs_info {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 472px;
    height: 179px;
    padding: 48px 48px 73px 48px;
    z-index: 0;
  }
}
@media screen and (max-width: 490px) {
  .section3__aboutUs {
    width: 350px;
    height: 406px;
  }
  .section3__aboutUs img {
    width: 350px;
    height: 197px;
  }
  .section3__aboutUs_info {
    width: 350px;
    height: 220px;
  }
  .section3__aboutUs_info h3 {
    font-size: 17px;
    margin-top: 2%;
  }
}
@media screen and (max-width: 400px) {
  .section3__aboutUs {
    width: 295px;
    height: 375px;
  }
  .section3__aboutUs img {
    width: 291px;
    height: 149px;
  }
  .section3__aboutUs_info {
    width: 295px;
    height: 237px;
  }
}
@media screen and (max-width: 350px) {
  .section3__aboutUs {
    width: 227px;
    height: 365px;
  }
  .section3__aboutUs img {
    width: 227px;
    height: 117px;
  }
  .section3__aboutUs_info {
    width: 227px;
    height: 261px;
  }
  .section3__aboutUs_info p {
    display: block;
    white-space: nowrap;
    font-size: 11px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .section3__aboutUs_info button {
    padding: 2px 35px 3px;
  }
}

/* ==============================SECTION3 END============================= */

/* ==============================FOOTER START============================= */
footer {
  width: 100%;
  height: 500px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_main img {
  width: 869px;
  height: 342px;
}
.footer_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 0px 130px 0px 0px;
}
.footer_left h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter";
  color: rgba(255, 255, 255, 1);
}
.footer_left ul {
  margin-top: 11%;
}
.footer_left ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 13px;
  font-family: "Inter";
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  cursor: pointer;
}
.footer_left ul li img {
  width: 18px;
  height: 18px;
}
.footer_left a {
  text-decoration: none;
  font-size: 13px;
  font-family: "Inter";
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.footer_left hr {
  width: 200px;
  border: 1px solid rgba(38, 38, 38, 0.429);
  margin-top: 4%;
}
footer hr {
  width: 1169px;
  border: 1px solid rgba(38, 38, 38, 0.408);
  margin-top: 2%;
}
.locationLi {
  margin-top: 5%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 5px;
}
.locationLi img {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 1250px) {
  #locationImg {
    width: 624px;
    height: 262px;
  }
  footer hr {
    width: 80%;
  }
}
@media screen and (max-width: 1050px) {
  #locationImg {
    width: 447px;
    height: 201px;
  }
}
@media screen and (max-width: 875px) {
  footer {
    height: 700px;
  }
  .footer_main {
    flex-direction: column;
  }
  #locationImg {
    margin-top: 4%;
  }
}
@media screen and (max-width: 570px) {
  footer {
    height: 750px;
  }
  #locationImg {
    width: 372px;
    height: 130px;
  }
}
@media screen and (max-width: 430px) {
  #locationImg {
    width: 265px;
    height: 129px;
  }
}
@media screen and (max-width: 340px) {
  .footer_left {
    padding-right: 65px;
  }
  #locationImg {
    width: 265px;
    height: 129px;
  }
}
/* ==============================FOOTER END============================= */
