@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Dancing+Script:wght@400;500&family=Inter:wght@100;200;300;400&family=Oxygen:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==============================NAVBAR START============================= */

header #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0px 100px;
}
.navbar__logo img {
  width: 70px;
  height: 36px;
  cursor: pointer;
}
.navbar_navigations ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar_navigations ul li {
  color: #181818;
  font-family: "Inter";
  padding: 20px;
  font-size: 14px;
}
.navbar_navigations ul img {
  width: 1px;
  height: 20px;
}
.navbar_navigations ul li img {
  width: 12px;
  height: 12px;
}
#navbar .navbar_lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#navbar .navbar_lang p {
  color: #181818;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}
#navbar .navbar_lang img {
  width: 30px;
  height: 24px;
  cursor: pointer;
  margin-left: 2%;
}
/* ==============================NAVBAR END============================= */

/* ==============================SECTION1 START============================= */

#section1 .section1_mainPic {
  width: 100%;
  height: 568px;
  background-image: url("./assets/images/Rectangle\ 138.svg");
  object-fit: fill;
  position: relative;
}
#section1 .section1__leftArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 274px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  color: #ffffff;
}
#section1 .section1__leftArrow:hover {
  background-color: #ffffff;
  color: #181818;
  transition: 0.3s;
}
#section1 .section1__rightArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 274px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  color: #ffffff;
}

#section1 .section1__rightArrow:hover {
  background-color: #ffffff;
  color: #181818;
  transition: 0.3s;
}
#section1 .section1_mainPic_left {
  font-family: "Inter";
  position: absolute;
  left: 167px;
  top: 227px;
}
#section1 .section1_mainPic_left h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
}
#section1 .section1_mainPic_left p {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 400;
}
#section1 .section1_mainPic_left button {
  padding: 9px 40px 10px;
  margin-top: 53px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
#section1 .section1_mainPic_left button:hover {
  background-color: #ffffff;
  color: #181818;
  transition: 0.3s;
}
#section1 .section1_mainPic__pic {
  width: 734px;
  height: 445px;
  position: absolute;
  right: 100.55px;
  top: 122px;
}
#section1 .section1_mainPic_eclipse {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 531px;
  left: 615px;
}
#section1 .section1_mainPic_eclipse img {
  width: 10px;
  height: 10px;
  margin-left: 24px;
}

.section1_threeCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter";
  padding: 33px 60px;
  flex-wrap: wrap;
}
.section1_threeCards__card {
  position: relative;
  background-color: #f8f8f8;
  width: 368px;
  height: 130px;
  border-left: 5px solid #0f2a59;
}
.section1_threeCards__card:first-child {
  border: none;
}
.section1_threeCards__card h2 {
  font-size: 16px;
  padding-left: 21px;
  padding-top: 16px;
}
.section1_threeCards__card p {
  position: absolute;
  font-size: 14px;
  padding-left: 21px;
  padding-top: 4px;
  z-index: 2;
}
.section1_threeCards__card img {
  width: 106px;
  height: 106px;
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 0;
}
/* ==============================SECTION1 END============================= */

/* ==============================SECTION2 START============================= */
#section2 {
  width: 100%;
  padding: 10px 99px;
}
#section2 .section2_news {
  display: flex;
  flex-direction: row;
}
#section2 h2 {
  width: 570px;
  font-size: 28px;
  font-family: "Inter";
  font-style: normal;
  line-height: 125%;
  font-weight: 700;
  margin: 4% 0 2% 0;
}
#section2 .section2_news_left {
  padding: 0px 70px 0px 0px;
}
#section2 .section2_news_left_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 568px;
  height: 383px;
  background-image: url("./assets/images/Rectangle\ 184.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  color: #ffffff;
  font-family: "Inter";
  padding: 0 83px 24px 24px;
}
#section2 .section2_news_left_box p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Inter";
}
#section2 .section2_news_left_box h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  margin-top: 2%;
}
#section2 .section2_news_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#section2 .section2_news_right_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 268px;
  height: 181px;
  object-fit: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Inter";
  padding: 0 10px 10px 10px;
}
#section2 .section2_news_right_box p {
  font-size: 11px;
  font-weight: 400;
}
#section2 .section2_news_right_box h3 {
  margin-top: 1%;
  font-size: 13px;
  font-weight: 700;
}
#section2 .box1 {
  background-image: url("./assets/images/Rectangle\ 185.svg");
  object-fit: cover;
}
#section2 .box2 {
  background-image: url("./assets/images/Rectangle\ 187.svg");
  object-fit: cover;
}
#section2 .box3 {
  background-image: url("./assets/images/Rectangle\ 186.svg");
  object-fit: cover;
  margin-top: 20px;
}
#section2 .box4 {
  background-image: url("./assets/images/Rectangle\ 188.svg");
  object-fit: cover;
  margin-top: 20px;
}
/* ==============================SECTION2 END============================= */
